<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="fit" gutterSize="7.5px" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-grid-tile *ngFor="let element of cardList" [colspan]="element.cols" [rowspan]="element.rows" cdkDrag>
            <ng-container *ngIf="element.type =='meter-chart'">
                <app-meter-chart [chartTitle]="element.chartTitle" [chartData]="element.data" [sensorInfo]="element.sensorInfo"></app-meter-chart>
            </ng-container>
            <ng-container *ngIf="element.type =='clock'">
                <app-clock [chartTitle]="element.chartTitle" [currTime]="element.data" [machine]="machineId"></app-clock>
            </ng-container>
            <ng-container *ngIf="element.type =='line-chart'">
                <app-line-chart [chartTitle]="element.chartTitle" [chartData]="element.data" [sensorInfo]="element.sensorInfo"></app-line-chart>
            </ng-container>
            <ng-container *ngIf="element.type =='line-chart3'">
                <app-line-chart3 [chartTitle]="element.chartTitle" [chartData]="element.data" [sensorInfo]="element.sensorInfo"></app-line-chart3>
            </ng-container>
            <ng-container *ngIf="element.type =='area-chart'">
                <app-area-chart [chartTitle]="element.chartTitle" [chartData]="element.data" [sensorInfo]="element.sensorInfo"></app-area-chart>
            </ng-container>
        </mat-grid-tile>
    </mat-grid-list>
</div>
