<ng-container>
    <div class="box-wrapper">
        <div class="box" [@flipState]="flip">
            <div class="box-side box-front">
                <div class="chartTitle">
                    <button mat-raised-button cdkDragHandle class="handle">
                        <i class="bi bi-arrows-move"></i>
                    </button>
                    <span class="title">{{title}}</span>
                    <button mat-raised-button class="btn-right" (click)="toggleFlip()">
                        <i class="bi bi-sliders"></i>
                    </button>
                </div>
                <div *ngIf="chartTitle === 'Current'; else others"  class="meterChart" echarts [options]="echartOption2"></div>
                <ng-template #others>
                    <div class="meterChart" echarts [options]="echartOption"></div>
                </ng-template>
                
            </div>
            <div class="box-side box-back" [hidden]="flip === 'inactive'">
                <div style="color: #000000;">
                    <span>Sensor Infomation</span>
                    <button mat-raised-button class="btn-right" (click)="toggleFlip()">
                        <i class="bi bi-sliders"></i>
                    </button>
                </div>
                <div class="box-back-text">
                    <p>Sensor Name:   {{sensor.sensorName}}</p>
                    <p>Sensor ID:     {{sensor.sensorId}}</p>
                    <p>Sensor Status: {{sensor.sensorStatus}}</p>
                    <p>Last update:   {{sensor.updateTime}}</p>
                </div>

            </div>

        </div>
    </div>
</ng-container>
