/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/theme.scss';

body {
    display: block;
    margin: 0px;
    padding:0px;
    background-color: #263238;
}