<ng-container>
    <div class="box-wrapper">
        <div class="box" [@flipState]="flip">
            <div class="box-side box-front">
                <div class="chartTitle">
                    <button mat-raised-button cdkDragHandle class="handle">
                        <i class="bi bi-arrows-move"></i>
                    </button>
                    <span class="title">{{title}}</span>
                    <button mat-raised-button class="btn-right" (click)="toggleFlip()">
                        <i class="bi bi-sliders"></i>
                    </button>
                </div>
                <div echarts [options]="options" [merge]="updateOptions" class="lineChart"></div>
            </div>
            <div class="box-side box-back" [hidden]="flip === 'inactive'">
                <div style="color: #000000;">
                    <span>Machine Infomation</span>
                    <button mat-raised-button class="btn-right" (click)="toggleFlip()">
                        <i class="bi bi-sliders"></i>
                    </button>
                </div>
                <div class="box-back-text">
                    <p>Machine Name:   {{sensor.sensorName}}</p>
                    <p>Machine ID:     {{sensor.sensorId}}</p>
                    <p>Machine Status: {{sensor.sensorStatus}}</p>
                    <p>Last update:   {{sensor.updateTime}}</p>
                </div>

            </div>

        </div>
    </div>
</ng-container>
