<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="fit" gutterSize="7.5px" cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-grid-tile *ngFor="let element of cardList" [colspan]="element.cols" [rowspan]="element.rows" cdkDrag>
            <ng-container *ngIf="element.type =='info-chart'">
                <app-info-chart [chartTitle]="element.chartTitle" [chartData]="element.data" [machineInfo]="element.machineInfo"></app-info-chart>
            </ng-container>
            <ng-container *ngIf="element.type =='meter-chart'">
                <app-meter-chart-sum [chartTitle]="element.chartTitle" [chartData]="element.data" [sensorInfo]="element.machineInfo.sensorInfo"></app-meter-chart-sum>
            </ng-container>
        </mat-grid-tile>
    </mat-grid-list>
</div>

