.grid-container {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #263238;
    height: max(calc(100vh - 50px - 10px), 100%);
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mat-grid-tile {
    padding: 0px !important;
}
mat-grid-list {
    height: calc(100vh - 50px - 10px);
}